Rules

There are three places where you will find rules:
1) In /doc/rules. However, these files may be outdated and if you find rules
   on the same subject on any of the other places named here, then they
   usually supercede the rules in /doc/rules (yes, that dir should be maintained
   better then, I agree).

2) In the players' and wizards' rulebooks in the sheriff's office.

3) On the wizard board in the inner guild. Unfortunately rules posted there
   tend to get lost when the boards are cleaned. If a rule is not covered
   anywhere, be sure to ask other wizards about it, because it may have been
   posted on the board sometime.

Uglymouth
