In this directory you find some wizard tools.
These tools are checked by arches.

From these tools you may use the ones that are allowed for your level.
It is possible that not all functions of a tool are for your level.
To check out which ones are allowed for you, read:

  /doc/rules/wiztools

Galadriel for Holy Mission.
